*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}
body{
    width: 100vw;
    height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header{
    text-align: center;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
}
header h1{
    color: hsl(229, 6%, 66%);
    font-weight: 100;
    font-size: 1.7rem;
}
header h2{
    font-size: 1.7rem;
}
p{
    color: hsl(229, 6%, 66%);
}
.wrapper{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, minmax(320px, 0.7fr));
    grid-template-rows: repeat(4, 100px);
    margin: 6rem 5rem;
}
.items{
    box-shadow: 3px 3px 20px rgb(95, 95, 95);
    border-radius: 5px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}
.icon{
    align-self: end;
    margin-top: 3rem;
}
.icon img{
    width: 50px;
}
.item1{
    grid-area: 2 / 1 / 4 / 2;
    border-top: 5px solid hsl(180, 62%, 55%);
}
.item2{
    grid-area: 1 / 2 / 2 span / 1 span;
    border-top: 5px solid hsl(0, 78%, 62%);
}
.item3{
    grid-area: 3 / 2 / 2 span / 1 span;
    border-top: 5px solid hsl(34, 97%, 64%);
}
.item4{
    grid-area: 2 / 3 / 4 / 4;
    border-top: 5px solid hsl(212, 86%, 64%);
}


@media(max-width: 1100px){
    .wrapper{
        grid-template-columns: repeat(2, minmax(320px, 0.7fr));
        grid-template-rows: repeat(2, 200px);
        grid-template-areas: 
        "item1 item2"
        "item3 item4";
    }
    .item1{
        grid-area: item1;
    }
    .item2{
        grid-area: item2;
    }
    .item3{
        grid-area: item3;
    }
    .item4{
        grid-area: item4;
    }
    .icon{
        margin-top: 2rem;
    }
}

@media(max-width: 750px){
    html{
        font-size: 8px;
    }
    .wrapper{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 150px) ;
        grid-template-areas: 
        "item1"
        "item2"
        "item3"
        "item4";
    }
    .item1{
        grid-area: item1;
    }
    .item2{
        grid-area: item2;
    }
    .item3{
        grid-area: item3;
    }
    .item4{
        grid-area: item4;
    }
    .icon{
        margin-top: 1rem;
    }
}